{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'notes/css/main.css' %}">
</head>
<body>

    <aside class="sidebar">
        <nav class="nav-menu">
            <img src="{% static 'notes/image/icon1.png' %}" alt="logo">
            <span class="logo">Notes</span>
            <div class="links-container">
                <a href="{% url 'home' %}"class="link">Home Page</a>
                <a href="{% url 'all_notes' %}"class="link">All notes</a>
                <a href="{% url 'create' %}"><button class="btn btn-info"> Add Note</button></a>
            </div>
        </nav>
    </aside>
    {% block content %}
    {% endblock %}
</body>
</html>